<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="testNG">

  <test thread-count="1" name="LoginTest">
    <classes>
      <class name="login.LoginTest"/>      
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="1" name="CreatesClients">
    <classes>
      <class name="clients.CreatesClients"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
